<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adjective</title>
</head>
<body>
    <div class="Adjective">
        <h1>Adjectives</h1>
        <p>An adjective is a word that describes a noun or pronoun. Adjectives can be attributive, appearing before a noun (e.g., “a red hat”), or predicative, appearing after a noun with the use of a linking verb like “to be” (e.g., “the hat is red”).</p>
        <p>Adjectives can also have a comparative function. Comparative adjectives compare two or more things. Superlative adjectives describe something as having the most or least of a specific characteristic.</p>
        <h3>Examples: Adjectives in a sentence</h3>
        <ul>
            <li>The dog is bigger than the cat.</li>
            <li>He is the laziest person I know.</li>
        </ul>
    </div>
</body>
</html>