<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adverb</title>
</head>
<body>
    <div class="Adverb">
        <h1>Adverb</h1>
        <p>An adverb is a word that can modify a verb, adjective, adverb, or sentence. Adverbs are often formed by adding “-ly” to the end of an adjective (e.g., “slow” becomes “slowly”), although not all adverbs have this ending, and not all words with this ending are adverbs.</p>
        <p>There are numerous types of adverbs, including adverbs of manner (used to describe how something occurs), adverbs of degree (used to indicate extent or degree), and adverbs of place (used to describe the location of an action or event).</p>
        <h3>Examples: Adverbs in a sentence</h3>
        <ol>
            <li>Ray acted rudely.</li>
            <li>Talia writes quite quickly.</li>
            <li>Let’s go outside!</li>
        </ol>
    </div>
    
</body>
</html>