<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conjunctions</title>
</head>
<body>
    <div class="conjuction">
        <h1>Conjunctions</h1>
        <p>A conjunction is a word used to connect different parts of a sentence (e.g., words, phrases, or clauses).</p>
        <p>The main types of conjunctions are coordinating conjunctions (used to connect items that are grammatically equal), subordinating conjunctions (used to introduce a dependent clause), and correlative conjunctions (used in pairs to join grammatically equal parts of a sentence).</p>
        <h3>Examples: Conjunctions in a sentence</h3>
        <ol>
            <li>Daria likes swimming and hiking.</li>
            <li>You can choose what movie we watch because I chose the last time.</li>
            <li>We can either go out for dinner or go to the theater.</li>
        </ol>
    </div>
</body>
</html>