<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="speech.css">
    <title>Part of Speech</title>
    <link rel="stylesheet" 
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
 <script 
src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 


</head> 
 <body> 
    <div class="box box2">
    <div class="col-sm-8" style="background-color:aqua">
        <a href="Noun.html" target="Right_Vertical">Noun</a>
    </div>
    <div class="col-sm-8" style="background-color:red;">
        <a href="Pronoun.html" target="Right_Vertical">Pronoun</a>
    </div>
    <div class="col-sm-8" style="background-color:greenyellow;">
        <a href="Adjective.html" target="Right_Vertical">Adjective</a>
    </div>
    <div class="col-sm-8" style="background-color:purple">
        <a href="Verb.html" target="Right_Vertical">Verb</a>
    </div>
    <div class="col-sm-8" style="background-color:yellow;">
        <a href="Adverb.html" target="Right_Vertical">Adverb</a>
    </div>
    <div class="col-sm-8" style="background-color: rgb(248, 7, 148)">
        <a href="Prepositions.html" target="Right_Vertical">Preposition</a>
    </div>
    <div class="col-sm-8" style="background-color:blue;">
        <a href="Conjunctions.html" target="Right_Vertical">Conjection</a>
    </div>
    <div class="col-sm-8" style="background-color:green">
        <a href="Interjections.html" target="Right_Vertical">Interjection</a>
    </div>
</div>
 </body> 
</html> 
