<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noun</title>
</head>
<body>
    <div class="noun">
        <h1>Noun:</h1>
        <p>A noun is a word that refers to a person, concept, place, or thing. Nouns can act as the subject of a sentence (i.e., the person or thing performing the action) or as the object of a verb (i.e., the person or thing affected by the action).</p>
        <p>There are numerous types of nouns, including common nouns (used to refer to nonspecific people, concepts, places, or things), proper nouns (used to refer to specific people, concepts, places, or things), and collective nouns (used to refer to a group of people or things).</p>
        <h3>Examples: Nouns in a sentence</h3>
        <ul>
            <li>I’ve never read that <span style="background-color: red;">book</span>.</li>
            <li>Ella lives in France.</li>
            <li>The band played only new songs.</li>
        </ul>
    </div>
</body>
</html>