<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prepositions</title>
</head>
<body>
    <div class="preposition">
        <h1>Prepositions</h1>
        <p>A preposition is a word (e.g., “at”) or phrase (e.g., “on top of”) used to show the relationship between the different parts of a sentence. Prepositions can be used to indicate aspects such as time, place, and direction.</p>
        <h3>Examples: Prepositions in a sentence</h3>
        <ol>
            <li>Hasan is coming for dinner at 6 p.m.</li>
            <li>I left the cup on the kitchen counter.</li>
            <li>Carey walked to the shop.</li>
        </ol>
        
    </div>
    
</body>
</html>