<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pronoun</title>
</head>
<body>
    <div class="pronoun">
        <h1>Pronouns</h1>
        <p>A pronoun is a word used in place of a noun. Pronouns typically refer back to an antecedent (a previously mentioned noun) and must demonstrate correct pronoun-antecedent agreement. Like nouns, pronouns can refer to people, places, concepts, and things.</p>
        <p>There are numerous types of pronouns, including personal pronouns (used in place of the proper name of a person), demonstrative pronouns (used to refer to specific things and indicate their relative position), and interrogative pronouns (used to introduce questions about things, people, and ownership).</p>
        <h3>Examples: Pronouns in a sentence</h3>
        <ul>
            <li>I don’t really know her.</li>
            <li>That is a horrible painting!</li>
            <li>Who owns the nice car?</li>
        </ul>
    </div>
    
</body>
</html>