<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tenses</title>
  <link rel="stylesheet" href="Tenses.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="logo.png">
        </div>
        <div class="header_right">
            <ul class="menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="select.html">Services</a></li>
            </ul>
        </div>
    </header>
    <h1 style="margin-top: 80px;padding-left: 600px;">Tenses</h1>
  <div class="container">
    
    <div class="box">
      <h1>Present Tense</h1>
      <p>The present tense refers to actions, events, or states that are currently occurring or are generally true. It is used to describe what is happening now, habitual actions, and facts.The present tense typically employs verb forms that indicate actions happening in the present time, such as  "he eats,"</p>
      <button class="button" onclick="window.location.href='Present.html'">Click Here</button>
    </div>
    <div class="box">
      <h1>Past Tense</h1>
      <p>The past tense is used to describe actions, events, or states that occurred or were completed in the past. In English, the past tense is usually formed by adding the suffix "-ed" to regular verbs (e.g., walked, talked) or by changing the verb's form (e.g., went, ate).</p>
      <button class="button" onclick="window.location.href='./Past.html'">Click Here</button>
    </div>
    <div class="box">
      <h1>Future Tense</h1>
      <p>The future tense is a grammatical tense used to describe actions, events, or states that are expected to happen in the future. In English, the future tense is often formed using auxiliary verbs such as "will" or "shall" followed by the base form of the main verb.</p>
      <button class="button" onclick="window.location.href='./Future.html'">Click Here</button>
    </div>
  </div>

</body>
</html>
